# Dépendances
node_modules/

# Variables d'environnement
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

.vercel


# Build Next.js
.next/

# Claude Code local
.claude/
